@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BioRhyme&display=swap');

body{
    padding: 0;
    margin: 0;
}
#home video{
    position: absolute;

    
}
nav{
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color: black;
}

.nav-ul{
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px 0 0;
    list-style-type: none;
    
}
.nav-ul li a{
    display: inline-block;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}

.hamburger{
    background-color: transparent;
    border: 0;
    color: white;
    font-size: 20px;
    cursor: pointer;
    display: none;
}
.hamburger:focus{
    outline: none;
}
#home h1{
    margin: 0;
    padding-top: 20%;
    padding-left: 3%;
    font-size: 80px;
    font-family: 'IBM Plex Sans', sans-serif;
    color: white;
}
#home p{
    padding-left: 3%;
    font-size: 40px;
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-top: 15px;
    padding-bottom: 23.50%;
    margin-bottom: 0px;
}

#about{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding-top: 8%;
}
#about h1{
    font-family: 'Raleway', sans-serif;
color: white;
}
#about img{
    padding-bottom: 2%;
}

#about h3{
    text-align: center;
    padding: 0 15% 7% 15%;
    font-size: x-large;
    font-family: 'Raleway', sans-serif;
    margin-top: 1.5%;
    color: white;
}

@media screen and (max-width: 768px){
    .nav-ul{
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .hamburger{
        display: block;
    }

    .nav-ul.show{
        display: flex;
    }

    #home h1{
        font-size: 35px;
    
    }
    #home p{
        font-size: 20px;
        margin-top: 15px;
       
    }

    

 
}