@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BioRhyme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


body{
    padding: 0;
    margin: 0;
}
.nav-custom{
    position: sticky;
}
#home video{
    position: absolute;

    
}
nav{
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color: black;
}
nav h1{
    
    padding-left: 25px;
    color: white;
    font-family: 'Lobster', cursive;
}
.nav-ul{
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px 0 0;
    list-style-type: none;
    
}
.nav-ul li a{
    display: inline-block;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}

.hamburger{
    background-color: transparent;
    border: 0;
    color: white;
    font-size: 20px;
    cursor: pointer;
    display: none;
}
.hamburger:focus{
    outline: none;
}
#home h1{
    margin: 0;
    padding-top: 20%;
    padding-left: 3%;
    font-size: 80px;
    font-family: 'IBM Plex Sans', sans-serif;
    color: white;
}
#home p{
    padding-left: 3%;
    font-size: 40px;
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-top: 15px;
    padding-bottom: 23.50%;
    margin-bottom: 0px;
}

#about{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding-top: 8%;
}
#about h1{
    font-family: 'Raleway', sans-serif;
color: white;
}
#about img{
    padding-bottom: 2%;
}

#about h3{
    text-align: center;
    padding: 0 15% 7% 15%;
    font-size: x-large;
    font-family: 'Raleway', sans-serif;
    margin-top: 1.5%;
    color: white;
}



.skills h1{
    padding: 0;
    margin: 0;
    text-align: center;
    padding-top: 5%;
    font-family: "Raleway", sans-serif;
    
}
.skills p{
    padding-bottom: 5%;
    padding-right: 10%;
    padding-left: 10%;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 25px;
    font-weight: bold;

}
.skills img{
    padding-left: 35%;
    padding-top: 5%;
}
#skills{

    width: 100%;
    display: flex;
    
    padding-bottom: 10%;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #5FCEE0, #2278FB);
    
    

}

.python{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
#python{
    align-self: center;
}
#list{
    display:none;
}
#list h3{
    font-family: "Raleway", sans-serif;
    border: 1px solid black;
    padding: 25px;
    margin-top: 21%;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
   
}
#list.show-lists{
    display: block;
    
}
.web{
    width: 100%;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
}
#web{
    align-self: center;

}

#list-2{
    display:none;
    
}
#list-2 h3{
    font-family:"Raleway", sans-serif;
    padding: 25px;
    border: 1px solid black;
    margin: 10px;
    margin-top: 10%;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    
}
#list-2.show-lists{
    display: grid;
    grid-template-columns: 50% 50%;
    padding-left: 5%;
    padding-right: 5%;
    

}
#python, #web{
    background-color: black;
    color: white;
    padding: 25px;
    border: none;
    font-size: large;
    border-radius: 20px;
    cursor: pointer;
}
#python:hover, #web:hover{
    background-color: white;
    color: black;

}
#list-2 h3:hover, #list h3:hover{
    background-color: white;

    
}

#contact{
    padding: 10% 0 10% 0;
    background-color: black;
}
#contact h1, #contact h3{
    font-family: "raleway", sans-serif;
    color: white;
    text-align: center;
}

#contact .links{
    display: flex;
    align-items: center;
    justify-content: center;
}
#contact .links a{
    padding: 1.5%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 60px;
    background-color: black;
    border: 0;
    
}
#contact h3{
    font-size: 25px;
}
#contact .links a{
    background-color: black;
    color: blue;
}
.links{
    padding-top: 5%;
}
#contact .links a:hover{
    color: gold;
}

/************************************Nav Bar******************************************/

@media screen and (max-width: 768px) {
        .nav-ul{
            display: none;
            width: 100%;
            flex-direction: column;
        }

        .hamburger{
            display:block;
            padding-right: 4%;
        }

        .nav-ul.show{
            display: flex;
        }
}

/************************************Laptop Screen************************************/

@media screen and (max-width: 1024px) {
    nav{
        padding: 0;
    }
    #home p{
        padding-bottom: 18%;
        font-size: 30px ;
        margin-top: 2%;

        padding-left: 5%;

    }

    nav h1{
        padding-left: 30px;
        font-size: 30px;
    }

    #home h1{
        padding-top: 21%;
        font-size: 60px;
        padding-left: 5%;
    }
    
    #about h3{
        font-size: 18px;
    }

    #about h1{
        font-size: 24px;
    }
    #about{
        padding-top: 17%;
        padding-bottom: 10%;
    }
    
}


/*****************************************Tablet*************************************/
@media screen and (max-width: 768px) {
    nav{
        padding: 0;
    }
    #home p{
        padding-bottom: 15%;
        font-size: 30px ;
        margin-top: 2%;

        padding-left: 5%;

    }

    nav h1{
        padding-left: 30px;
        font-size: 30px;
    }

    #home h1{
        padding-top: 21%;
        font-size: 60px;
        padding-left: 5%;
    }
    
    #about h3{
        font-size: 18px;
    }

    #about h1{
        font-size: 24px;
    }
    #about{
        padding-top: 17%;
        padding-bottom: 10%;
    }
    #skills{
        flex-wrap: wrap;
    }
    .skills img{
        width: 45%;
        padding-left: 28%;
    }
    .skills h1{
        font-size: 26px;
        font-weight: bold;
    }
    .skills p{
        font-size: 17px;
    font-weight: bold;
    }
    #python{
        font-size: medium;
    }
    #web{
        font-size: medium;
    }
    #list.show-lists h3{
        font-size: medium;
        text-align: center;
    }
    #list-2.show-lists{
        grid-template-columns: 50% 50%;
        padding-left: 0;
        padding-right: 0;
    }
    #list-2.show-lists h3{
        font-size: medium;
        text-align: center;
    }
    .python{
        padding-bottom: 10%;
    }
    #contact h1{
        font-size: 26px;
    }
    #contact h3{
        font-size: 17px; 
    }
    #contact{
        padding-right: 10%;
        padding-left: 10%;
    }
    #contact .links a{
        margin: 3%;
        font-size: 45px ;
    }
    
}




/************************************Large Mobile Screen************************************/

@media screen and (max-width: 425px) {
    nav{
        padding: 0;
    }
    #home p{
        padding-bottom: 18%;
        font-size: 16px ;
        margin-top: 2%;

        padding-left: 5%;

    }

    nav h1{
        padding-left: 14px;
        font-size: 20px;
    }

    #home h1{
        padding-top: 21%;
        font-size: 22px;
        padding-left: 5%;
    }
    
    #about h3{
        font-size: 12px;
    }

    #about h1{
        font-size: 20px;
    }
    #about{
        padding-top: 17%;
        padding-bottom: 10%;
    }
    #skills{
        flex-wrap: wrap;
    }
    .skills img{
        width: 45%;
        padding-left: 28%;
    }
    .skills h1{
        font-size: 24px;
        font-weight: bold;
    }
    .skills p{
        font-size: 15px;
    font-weight: bold;
    }
    #python{
        font-size: small;
    }
    #web{
        font-size: small;
    }
    #list-2.show-lists{
        grid-template-columns: 50% 50%;
        padding-left: 0;
        padding-right: 0;
    }
    #list-2.show-lists h3{
        font-size: small;
        text-align: center;
    }
    .python{
        padding-bottom: 10%;
    }
    #contact h1{
        font-size: 24px;
    }
    #contact h3{
        font-size: 15px; 
    }
    #contact{
        padding-right: 10%;
        padding-left: 10%;
    }
    #contact .links a{
        margin: 3%;
        font-size: 40px ;
    }
}
/***************************************Medium Mobile View*****************************************/


@media screen and (max-width: 375px) {
    nav{
        padding: 0;
    }
    #home p{
        padding-bottom: 18%;
        font-size: 15px ;
        margin-top: 2%;

        padding-left: 5%;

    }

    nav h1{
        padding-left: 14px;
        font-size: 20px;
    }

    #home h1{
        padding-top: 21%;
        font-size: 20px;
        padding-left: 5%;
    }
    
    #about h3{
        font-size: 12px;
    }

    #about h1{
        font-size: 20px;
    }
    #about{
        padding-top: 17%;
        padding-bottom: 10%;
    }
    #skills{
        flex-wrap: wrap;
    }
    .skills img{
        width: 45%;
        padding-left: 28%;
    }
    .skills h1{
        font-size: 22px;
        font-weight: bold;
    }
    .skills p{
        font-size: 13px;
    font-weight: bold;
    }
    #python{
        font-size: small;
    }
    #web{
        font-size: small;
    }
    #list-2.show-lists{
        grid-template-columns: 50% 50%;
        padding-left: 0;
        padding-right: 0;
    }
    #list-2.show-lists h3{
        font-size: small;
        text-align: center;
    }
    .python{
        padding-bottom: 10%;
    }
    #contact h1{
        font-size: 22px;
    }
    #contact h3{
        font-size: 13px; 
    }
    #contact{
        padding-right: 10%;
        padding-left: 10%;
    }
    #contact .links a{
        margin: 3%;
        font-size: 35px ;
    }
}
/****Small Mobile View ****/
@media screen and (max-width: 320px) {
    nav{
        padding: 0;
    }
    #home p{
        padding-bottom: 18%;
        font-size: 10px ;
        margin-top: 2%;

        padding-left: 5%;

    }

    nav h1{
        padding-left: 14px;
        font-size: 20px;
    }

    #home h1{
        padding-top: 21%;
        font-size: 18px;
        padding-left: 5%;
    }
    
    #about h3{
        font-size: 11.55px;
    }

    #about h1{
        font-size: 20px;
    }
    #about{
        padding-top: 17%;
        padding-bottom: 10%;
    }

    #python{
        font-size: small;
    }
    #web{
        font-size: small;
    }
    #list-2.show-lists{
        grid-template-columns: 50% 50%;
        padding-left: 0;
        padding-right: 0;
    }
    #list-2.show-lists h3{
        font-size: small;
        text-align: center;
    }
    .python{
        padding-bottom: 10%;
    }
    #skills{
        flex-wrap: wrap;
    }
    .skills img{
        width: 45%;
        padding-left: 28%;
    }
    .skills h1{
        font-size: 20px;
        font-weight: bold;
    }
    .skills p{
        font-size: 11.55px;
    font-weight: bold;
    }
    #contact h1{
        font-size: 20px;
    }
    #contact h3{
        font-size: 11.55px; 
    }
    #contact{
        padding-right: 10%;
        padding-left: 10%;
    }
    #contact .links a{
        margin: 3%;
        font-size: 30px ;
    }
}